<a class="footer-scroll__link" href="#top"><img src="assets/images/ico-arrow.svg" alt=""></a> 
<div class="footer-nav__container">
    <nav class="general-menu">
        <ul class="footer-menu__list">
            <li class="footer-menu__item">
                <a class="footer-menu__link" href="#">Articles</a>
            </li>
            <li class="footer-menu__item">
                <a class="footer-menu__link" href="#">Books</a>
            </li>
            <li class="footer-menu__item">
                <a class="footer-menu__link" href="#">Events</a>
            </li>
            <li class="footer-menu__item">
                <a class="footer-menu__link" href="#">Reasons</a>
            </li>
            <li class="footer-menu__item">
                <a class="footer-menu__link" href="#">Tips</a>
            </li>
        </ul>
    </nav>
    <nav class="social-media__items">
            <ul class="footer-menu__list">
                <li class="footer-menu__item">
                    <a class="footer-menu__link" href="#">Twitter</a>
                </li>
                <li class="footer-menu__item">
                    <a class="footer-menu__link" href="#">Instagram</a>
                </li>
                <li class="footer-menu__item">
                    <a class="footer-menu__link" href="#">Mastodon.social</a>
                </li>
            </ul>
        </nav>
    <footer class="main-footer">
        <p><small>©2017</small></p>
        <p><small>we<span class="icon-color"> ❤︎ </span>components</small></p>
    </footer>
</div>