<header class="header-img">
    <div class="header__container">
        <h1 class="header-title">Anonimous Proxy</h1>
        <h2 class="header-subtitle">In hac habitasse platea dictumst</h2>
        <div class="header-scroll__item">
            <a class="header-scroll__link" href="#"><img src="assets/images/ico-scroll-down.svg" alt="arrow scroll down"></a>
        </div> 
    </div>  
    <button class="hamburguer-menu__item">
        <a class="hamburguer-menu__link" href="#"><img src="assets/images/ico-menu.svg" alt=""> </a>
    </button>
</header>
