<section class="purchase-section">
    <div class="purchase-section__container">
        <h3 class="purchase-section__title">3 reasons to purchase</h3>
        <ul class="purchase-section__list">
            <li class="section-list__item">
                <h4 class="section-list__title">Ut sed metus</h4>
                <p class="section-list__content">Lorem ipsum dolor sit amet, consecteur.</p>
            </li>    
            <li class="section-list__item">
                <h4 class="section-list__title">Curabitur ac erat</h4>
                <p class="section-list__content">Mauris mattis urna quis lorem molestie.</p>
            </li>
            <li class="section-list__item">
                <h4 class="section-list__title">Morbi dictum</h4>
                <p class="section-list__content">Aliquam in dolor et dolor tincidunt.</p>
            </li>
        </ul>
        <button class="btn bcg__button">More reasons</button>
    </div>
</section>