.description-section{
    margin: 30px 15px 0 15px;
    
    @media all and (min-width:768px){
        margin: 30px 39px 0 39px;
    }
}

.up-subtitle{
    color: $colorSecondary-400;
    font-size: 0.875rem;
    margin: 0;
    text-transform: capitalize;
}

.description-section__title{
    font-family: $fontSecondary;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-bottom: 15px;

    @media all and (min-width:768px){
        font-size: 1.625rem;
    }

}

.description-section__content{
    font-size: 1.125rem;
    color: $colorPrimary-400;
    margin-bottom: 30px;
    text-align: justify;

    @media all and (min-width:768px){
        font-size: 1.25rem;
    }

}

#anchoring-description{
    position: relative;
    top: -75px;
}