.description-section{
    margin: 30px 15px 0 15px;
    
    @media all and (min-width:768px){
        margin: 30px 39px 0 39px;
    }

    @media all and (min-width:1280px){
        max-width: 730px;
        margin: 60px auto 0 auto;
    }

}

.up-subtitle{
    color: $colorSecondary-400;
    font-size: 0.875rem;
    margin: 0;
    text-transform: capitalize;

    @media all and (min-width:1280px){
        font-size: 1rem;
    }

}

.description-section__title{
    font-family: $fontSecondary;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-bottom: 15px;

    @media all and (min-width:768px){
        font-size: 1.625rem;
    }

    @media all and (min-width:1280px){
        font-size: 2rem;
        line-height: 45px;
    }

}

.description-section__content{
    font-size: 1.125rem;
    color: $colorPrimary-400;
    margin-bottom: 30px;
    text-align: justify;

    @media all and (min-width:768px){
        font-size: 1.25rem;
    }

    @media all and (min-width:1280px){
        font-size: 1.25rem;
    }
}

#anchoring-description{
    position: relative;
    top: -75px;
}