.description-section{
    margin: 0 15px;
    margin-top: 30px;
}

.up-subtitle{
    color: $colorSecondary-400;
    font-size: 0.875rem;
    margin: 0;
    text-transform: capitalize;
}

.description-section__title{
    font-family: $fontSecondary;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.description-section__content{
    font-size: 1.125rem;
    color: $colorPrimary-400;
    margin-bottom: 30px;
    text-align: justify;

}

#anchoring-description{
    position: relative;
    top: -75px;
}