.footer-nav__container{
    background-color: $colorSecondary-1000;
    position: relative;
    padding-top: 60px;
    height: 465px;
    color: $colorPrimary-0;

    @media all and (min-width:768px){
        @include flexStart();
        height: 240px;
        padding-top: 45px;
        
    }

}

.footer-scroll__link{
    @include dot();
    @include flexCentered();
    position: absolute;
    z-index: 5;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-menu__list{
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;

}

.footer-menu__item{
    list-style: none;

    @media all and (min-width:768px){
        text-align: left;
    }

}

.footer-menu__link{
    text-decoration: none;
    color: inherit;
}

.social-media__items{
    margin-top: 45px;

    @media all and (min-width:768px){
        margin-top: 0;
        width: 210px;
    }
}

.main-footer{
    font-size: 0.875rem;
    text-align: center;
    margin-top: 30px;

    @media all and (min-width:768px){
        width: 210px;
        margin-right: 30px;
        margin-top: 0;
        order: -1;
        text-align: left;
        margin-left: 39px;
    }

}

.icon-color{
    color: $colorTertiary;
}

.general-menu{
    @media all and (min-width:768px){
        width: 210px;
        margin-right: 30px;
    }

}