.header-img{
    background: url("../images/cover.jpg") center center no-repeat;
    height: 568px;
    background-size: cover;
    position: relative;  
    min-height: 100vh;
    height: 568px;

    @media all and (min-width:768px){
        // height: 768px;
    }
}

.header__container{
    text-align: center;
    @include flexEndCentered();
    flex-direction: column;
    height: 100%;
    width: 290px;
    margin: 0 auto;
    
}

.header-title{
    text-transform: uppercase;
    font-family: $fontSecondary;
    font-weight: bold;
    color: $colorPrimary-0;
    font-size: 2.625rem;
    line-height: 55px;

    @media all and (min-width:768px){
        font-size: 5rem;
        line-height: 106px;
    }

    @media all and (min-width:1280px){
        font-size: 6.25rem;
        line-height: 132px;
    }

}

.header-subtitle{
    margin-top: 10px;
    color: $colorPrimary-0;
    font-size: 1rem;
    margin-bottom: 45px;
    font-weight: 400;

    @media all and (min-width:768px){
        font-size: 1.5rem;
        margin-bottom: 30px;
        margin-top: 20px; 
        width: 400px;
    }

    @media all and (min-width:1280px){
        margin-top: 0;
    }

}

.header-scroll__item{
    @include dot();
    // @include flexCentered();
    margin-bottom: 53px;
    position: relative;

    @media all and (min-width:768px){
        margin-bottom: 45px;
    }

    @media all and (min-width:1280px){
        margin-bottom: 13px;
    }

}

.header-scroll__link{
    width: 100%;
    position: absolute;
    top:23%;
    transform: translate(-50%, 0);
}

.hamburguer-menu__item{
    position: fixed;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background-color: $colorSecondary-700;
}





