.purchase-section{
    background-color: $colorSecondary-100;
    height: 624px;
    margin-top: 45px;
    font-size: 1.125rem;

    @media all and (min-width:768px){
        margin-top: 60px;
    }

}

.purchase-section__title{
    font-size: 1.5rem;
    font-family: $fontSecondary;
    margin-top: 30px;
    margin-bottom: 45px;

    @media all and (min-width:768px){
        font-size: 1.625rem;
    }
 
}

.section-list__item{
    list-style: none;
    width: 180px;
    margin: 0 auto 45px auto;
    
}

.section-list__title{
    font-family: $fontSecondary;

    @media all and (min-width:768px){
        font-size: 1.5rem;
    }

}







