@mixin flexCentered(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexEndCentered(){
    display: flex;
    justify-content: flex-end;
    align-items: center;
}