$colorPrimary-0: white;
$colorPrimary-400: #4a4a4a;
$colorPrimary-1000: black;

$colorSecondary-400: #8ccbea;
$colorSecondary-700: #0271bc;

$colorTertiary: #f26002;

$fontPrimary: 'Roboto', sans-serif;
$fontSecondary:'Roboto Slab', serif;
